.server_info p {
    margin: 0;
}

.jumbotron {
    padding: 1rem;
}

#tables {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tables td, #tables th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tables tr:nth-child(even){background-color: #f2f2f2;}

#tables tr:hover {background-color: #ddd;}

#tables th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5ba7e2;
    color: white;
}

.media {
    padding: 5%;
    border: solid 1px;
}
.media img {
    width: 15%;
}
.media p {
    margin-bottom: 0;
}


@media (max-width: 992px) { 
    .media img {
        width: 20%;
    }
}

@media (max-width: 768px) { 
    .media img {
        width: 25%;
    }
}

@media (max-width: 576px) { 
    .media img {
        width: 30%;
    }
}

